:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(221, 231, 240);
}
.header_style {
    text-align: center;
    color: white;
    background-color: rgb(49, 108, 235);
    padding: 15px;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.637);
}

.weatherSearch {
    margin: 0 10px;

}

#locationSearchBtn {
    float: right;
    margin-top: 5px;
}

h2{
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
    margin-block-start: 0;
    margin-block-end: 0;

}

ul { 
    display: flex;
    margin: 5px 0 0 0;
}

.skydescription {
    margin-top: 5px;
}

li {
    margin-left: 7px;
    list-style: none;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 5px;
    
}

.currentWeatherCard {
    padding:8px;
    margin-top: 15px;
    border-radius: 28px 0 28px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 7px rgba(139, 139, 139, 0.445);
}

#forecastContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    align-items: baseline;
    align-content: center;
}

.forecastCard {
    padding: 5px;
    border-radius: 18px;
    background-color: rgba(100, 175, 218, 0.295);
    box-shadow: 0 0 7px rgba(139, 139, 139, 0.445);
}

#fiveDayTitle {
    text-align: center;
    font-size: 25px;
    margin: 5px;
}

h3 {
    margin: 6px 0 0 0;
}

.historyBtn {
    border: 1px black solid;
    margin: 5PX;
    padding: 3px 6px;
    background-color: transparent;
    border-radius: 6px;
}

.historyBtn:hover {
    border-color: rgb(0, 102, 255);
    color: rgb(0, 102, 255);
    background-color: rgba(92, 92, 92, 0.079);
}

.historyBtnStyle {
    display: flex;
    min-width: 100px;
    justify-content: center;
    margin: 8px 10px;
    background-color: aliceblue;
    border-radius: 16px;
    padding: 5px 10px;
    border: 1px solid rgba(51, 146, 175, 0.568)
}

.historyBtnStyle:hover {
    box-shadow: 0 0 5px 1px rgb(132, 214, 241);
    cursor: pointer;
}



@media screen and (max-width: 881px) {
    #forecastContainer {
        font-size: small;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5px;
        align-items: baseline;
        align-content: center;
    }
    
}

@media screen and (max-width: 571px) {
    .layout {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: stretch;
}
#forecastContainer {
    margin-top: 15px;
}
    
}
